html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    @extend %roboto;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5
h6{
    margin: 0;
    font-size: inherit;
}
.mainwrapper{
    min-width: 320px;
    overflow: hidden;
}
