%monserat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
%monseratBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}
%roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

$skyBlueText: #53d0fb;