@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "media";

.header{
  position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	width: 100%;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid white;
}
.logo{ 
    position: absolute;
    left: 32px;
    top: 5px;
}
.header{
    &__inner{
        margin: 0 auto;
        display: inline-block;
    }
    &__info{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 29px;
        margin-right: 20px;
           
        a{
            color: $skyBlueText;
            padding-left: 10px;
        }
        ul {
          display: inline-block;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: inline-block;
            &:not(:first-child) {
              border-left: 1px solid $skyBlueText;
            }
            a, span {
              padding: 0 10px;
            }
          }
        }
    } 
}
.menu{
    display: inline-block;
    &__hamburger{
      display: none;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        @extend %monserat;
        font-size: 14px;
        text-transform: uppercase;
        &-link{
            position: relative;
            color: #ffff;
            display: block;
            text-align: center;
            padding: 30px 30px;
            &:after{
                position: absolute;
                content: "";
                display: none;
                height: 1px;
                width: 70px;
                bottom: -1px;
                left: 0;
                right: 0;
                text-align: center;
                margin: 0 auto;
                background: yellow;
            }
            &:hover:after{
                display: block;
        }
        }
    }
}

.slideshow{
  position: relative;
  &__gallery{
    ul{
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
    li{
      position: absolute;
      width: 100%;
      height: 100%;
      left: -100%;
      transition: left 400ms ease;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &.slideshow__gallery__item{
        &_1{
          background-image: url(/app/images/photo-1.png);
        }
        &_2{
          background-image: url(/app/images/photo-2.png);
        }
        &_3{
          background-image: url(/app/images/photo-3.png);
        }
        &_active{
          z-index: 5;
          left: 0;
        }
        &_prev{
          z-index: 5;
          left: 100%;
        }
      }
        &.slideshow__gallery__item_prev{
        z-index: 5;
        left: 100%;
      }
    }
  }
  &__content{
    position: absolute;
    top: 200px;
    left: 50%;
    display: flex;
    flex-direction: row;
    right: 50%;
    justify-content: center;
    flex-flow: wrap;
    align-items: unset;
    z-index: 21;
    &__title{
      text-align: center;
      p{
        width: 650px;
        @extend %monserat;
        font-size: 47px;
        line-height: 62px;
        color: #ffffff;
        margin-bottom: -30px;
      }
    }
    &__buttons{
      display: flex;
      justify-content: center;
      margin-top: 60px;
      a{
        text-align: center;
        font-size: 18px;
        line-height: 18px;
        padding: 20px 30px;
        border: 1px solid #ffffff;
        width: 226px;
        color: #ffffff;
        transition: background-color 2s linear;           
      }
      a:hover{
        background-color: #ffffff;
        color: black;
      }
    }
  }
}

//Section About//
.resize{
  display: flex;
  max-width: 1260px;
  background-color: #fff;
  margin: 150px auto;
}
.about__logo{
    margin-right: 50px;
  img{
    margin-top: 20px;
  }
  h2{
    @extend %monserat;
    font-size: 37px;
    line-height: 44px;
    color: #000000;
    margin-top: 20px;
  }
}
.about__content{
  max-width: 766px; 
  margin-left: 50px;
  @extend %monserat;
  font-size: 22px;
  p{
    padding-bottom: 20px;
  }
  .animated-frame{
    width: 767px;
    height: 173px;
    background-color: inherit;
    border: 4px solid #53d0fb;
    border-radius: 4px;
    margin: 90px 0 90px 0;
    transition: background-color 2s linear;
    &.animated-frame:hover{
      background-color: #53d0fb;
      border: 4px solid #000000;
    }
    &__content{
      @extend %monseratBold;
      font-size: 32px;
      max-width: 510px;
      text-align: center;
      color: #000000;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}
.cases{
  @extend %monserat;
  font-size: 18px;
  height: 458px;
  background-color: #f4f4f4;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  &__list{
    display: flex;
    justify-content:center;    
    width: 100%;
    margin: 0 320px;
    &__item{
      position: relative;
      padding: 0 50px;
      img{
        display: block;
        margin: 0 auto 50px;
      }
      &-text{
        display: block;
        position: relative;
        padding: 0 80px;

        em{
         position: absolute;
         @extend %monseratBold;
         font-size: 100px;
         top: -16px;
         left: 0; 
       }
       strong{
         display: block;
         font-size: 30px;
      }
    }  
  }
  }
}
.performance{
  .performance__content{
    width: 100%;
    background-color: #fff;
    &__title{
      margin: 150px auto 50px;
      @extend %monseratBold;
      text-transform: uppercase;
      font-size: 37px;
      line-height: 44px;
      color: #000000;
      text-align: center;
    }
    &__about{
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
      &:last-of-type {
        flex-direction: row-reverse;
      }
    &-info{
      margin-top: 50px;
      &-title{
        position: relative;
        height: 130px;
        width: 473px;
        &::after{
          content: "";
          width: 120%;
          top: 0;
          height: 100%;
          display: block;
          border: 3px solid;
          position: absolute;
        }
        &.left::after {
          left: -10%;
        }
        &.right::after {
          left: -10%;
        }
        h5{
          @extend %monseratBold;
          font-size: 30px;
          padding-top: 50px;
          padding-left: 50px;
          color: #000000;
          text-transform: uppercase;
        }
      }
      &-text{
        width: 330px;
        height: 120px;
        margin: 50px;
        p{
          @extend %monserat;
          font-size: 24px;   
          color: #000000;
        }
      }
      &-link{
        width: 227px;
        height: 50px;
        background-color: #53d0fb;
        text-align: center;
        padding: 15px;
        margin: 50px;
        &-right{
          left: 0;
        }
        a{
          @extend %monseratBold;
          font-size: 18px;
          line-height: 18px;
          color: #000000;
        }
      }
    }  
    }
  }
}
.contacts{
  background-image: url("/app/src/bg-contacts.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 680px;
  margin-bottom: 40px;
  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info{
    margin-top: 100px;
    max-width: 240px;
    max-height: 470px;
    margin-right: 150px;
    margin-left: 60px;
    &-title{
      @extend %monseratBold;
      font-size: 30px;
      line-height: 15px;
      color: #ffffff;
      margin-bottom: 70px;
    }
    &-list{
      @extend %monserat;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      li{
        padding-left: 20px;
        padding-bottom: 50px;
      }
    }
  }
  &__form{
    width: 760px;
    height: 400px;
    margin-top: 60px;
    &-title{
      @extend %monseratBold;
      font-size: 30px;
      line-height: 15px;
      color: #ffffff;
      margin-bottom: 70px;
    }
    &-box{
      form{
        input{
          margin: 0 20px 20px 0;
          padding: 10px;
          border: 1px solid #ffffff;
          color: #ffffff;
          border-radius: 10px;
          background-color: transparent;
        }
        textarea{
          width: 95%;
          padding: 10px;
          border: 1px solid #ffffff;
          color: #ffffff;
          border-radius: 10px;
          background-color: transparent;
        } 
      }
    }
    &-btn{
      margin-top: 70px;
      padding: 15px 50px;
      @extend %monseratBold;
      font-size: 18px;
      line-height: 18px;
      color: #000000;
      border: 1px solid #ffffff;
      border-radius: 4px;
      background-color: transparent;
      text-transform: uppercase;
      transition: background-color 2s linear;
      &:hover{
        background-color: #53d0fb;
        border: 1px solid #000000;
      }
    }
  }
}
.footer{
  width: 100%;
  text-align: center;
  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__social{
    margin-left: 50px;
    a{
      padding-right: 20px;
    }
  }
}




